.text-input {
  &__input {
    width: 100%;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 7px;
    border-radius: 4px;
    border: 1px solid;
    line-height: 1.75;

    &_with-error {
      border-color: red;
    }
  }

  &__error {
    color: red;
  }

  &__label {
    text-transform: capitalize;
  }

  &__upper-part {
    display: flex;
    justify-content: space-between;
  }
}
